<p align="left">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<p align="left">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
      <%= image_tag 'image/a.jpeg', width: '190', align: 'left' %>
      <%= image_tag 'image/b.jpeg', width: '212', align: 'right' %>
			<p align="left">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p><br><br><br><br><br>
			<p align="left">
				All TA's are:
				<ol align="left">
					<li>Hashir Irfan</li>
					<li>Ammar Aslam</li>
					<li>Hazif Ali Upal</li>
					<li>Hafiz Umair Ahmad</li>
					<li>Muhammd Saad</li>
					<li>Yasoob</li>
					<li>Talha Tahir</li>
					<li>Rahil Ebssani</li>
				</ol>
			</p>
			<p align="left">
				My Favourite TA's are:
				<ul align="left">
					<li>Sevres Snape</li>
					<li>Leonardo DiCaprio</li>
					<li>Sans from Undertale</li>
					<li>Korosensei</li>
					<li>None, from the above list lol</li>
				</ul>
			</p> 