<%= render "shared/slider" %>

<div class="row">
  <div class="col-sm-12 col-md-8 mx-auto">
    <figure class="text-center my-5">
      <blockquote class="blockquote">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, eos exercitationem! Repellendus dolorem placeat fugit dolores, cum et accusamus ipsum sed voluptas fuga deleniti, commodi ullam quidem? Provident, sed est..</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Someone famous in <cite title="Source Title">Great Personlity</cite>
      </figcaption>
    </figure>
  </div>
</div>

<div class="text-center">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#allTA">
    All TA's
  </button>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#favouriteTA">
    Favourite TA's
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="allTA" tabindex="-1" aria-labelledby="allTALabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="allTALabel">All TA's are</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ol>
          <li>Hashir Irfan</li>
          <li>Ammar Aslam</li>
          <li>Hafiz Ali Upal</li>
          <li>Hafiz Umair Ahmed</li>
          <li>Muhammad Saad</li>
          <li>Yasoob</li>
          <li>Talha Tahir</li>
          <li>Rahil Ebssani</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="favouriteTA" tabindex="-1" aria-labelledby="favouriteTALabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="favouriteTALabel">My Favourite TA's are</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          <li>Severus Snape</li>
          <li>Leonardo DrCaprio</li>
          <li>Sans form Undertale</li>
          <li>Korosensei</li>
          <li>None, from the above list lol</li>
        </ul>
      </div>
    </div>
  </div>
</div>