<html>
  <head>
    <title>Blog</title>

    <%= csrf_meta_tags %>

    <style>
    body{
        background-image: url('/assets/b.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    </style>
  </head>

  <body>
    <table width="100%" border="2">
    <th>
      <%= render "shared/navbar"%>
      <%= yield %>
      <%= render "shared/footer"%>
    </th>
  </body>
</html>
